@page "/edit-contact/{Id:int}"
@page "/edit-contact"
@inject ApplicationDbContext Context

@if(Id is null)
{
    <PageTitle>Add a new Contact</PageTitle>
    <h3>Add a new Contact</h3>
}
else
{
    <PageTitle>Edit Contact @CurrentContact.Name @CurrentContact.SirName</PageTitle>
    <h3>Edit Contact"@CurrentContact.Name @CurrentContact.SirName"</h3>
}

@code {
    [Parameter]
    public int? Id { get; set; } = null;
    public Contact CurrentContact { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        var contact = await Context.Contacts.FindAsync(Id);

        if(contact is not null)
        {
            CurrentContact.Name ??= contact.Name;
            CurrentContact.SirName ??= contact.SirName;
            CurrentContact.PhoneNumber ??= contact.PhoneNumber;

        }
    }

}
